$black: #000000;
$white: #ffffff;
$lightGrey: #d7d7d7;
$darkerGrey: #f7f7f7;
$pink: #ecc7d0;
$darkPink: #eb316b;

$line: 1px solid $lightGrey;

$greyBorder: 3px solid #f7f7f7;

$greyShadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);

$mainFont: "Lato";

$extraLarge: 1200px;
$large: 1000px;
$medium: 992px;
$small: 808px;
$extraSmall: 576px;
