.busket {
  max-width: 150px;
  padding: 0 0.5em;
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-end;
  height: 100%;
  &:hover {
    cursor: pointer;
  }
  margin-right: 2em;
}

.busket__wrapper {
  position: relative;
  display: flex;
  margin-right: 0;
  justify-content: flex-end;
  align-items: flex-end;
  &:hover {
    transform-origin: center;
    transform: scale(1.1);
  }
}

.busket__number {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: $pink;
  padding: 5px;
  border-radius: 100%;
  font-weight: bold;
  font-size: 0.6em;
  white-space: nowrap;
  color: $white;
}

.busket__numbers {
  transform: translateX(2px);
}

@media screen and (max-width: $medium) {
  .busket {
    margin-right: 1em;
  }
}

@media screen and (max-width: $small) {
  .busket {
    margin-right: 0;
  }

  .busket__text {
    display: none;
  }
}
