.busket {
  padding: 0 0.5em;
  max-width: 150px;
  height: 100%;
  display: flex;
  flex-flow: nowrap row;
  justify-content: flex-end;
  &:hover {
    cursor: pointer;
  }
  margin-right: 2em;
}

.busket__wrapper {
  position: relative;
  margin-right: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.busket__number {
  position: absolute;
  top: 20px;
  left: 21px;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  padding: 5px;
  background-color: $pink;
  font-weight: bold;
  font-size: 0.6em;
  white-space: nowrap;
  color: $white;
}

.busket__text {
  white-space: nowrap;
  line-height: 0.992;
  font-size: $fs-mini;
  // font-weight: bold;
  transform: translateY(2px);
}

.busket__numbers {
  transform: translateX(2px);
}

@media screen and (max-width: $medium) {
  .busket {
    margin-right: 1em;
  }
}

@media screen and (max-width: $small) {
  .busket {
    margin-right: 0;
    padding-right: 1rem;
  }

  .busket__text {
    display: none;
  }
}
