.middlebar {
  height: 90px;
  margin-bottom: 40px;
  padding-top: 1.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.middlebar__hamburger {
  order: 1;
  flex: 1;
  display: none;
  align-items: center;
  justify-content: start;
}

.middlebar__logo {
  order: 2;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: left;
}

.middlebar__search {
  order: 3;
  flex: 3;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.middlebar__basket {
  order: 4;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@media screen and (max-width: $small) {
  .middlebar__hamburger {
    display: flex;
  }

  .middlebar__logo {
    flex: 3;
    height: 100%;
    justify-content: center;
  }

  .middlebar__break {
    order: 5;
    flex-basis: 100%;
    height: 0;
  }
  .middlebar__search {
    order: 6;
    justify-content: center;
  }
}
