.order {
  padding: 1em 0;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.order__wrapper {
  padding: 0 0.7em;
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
}

.order__price {
  font-size: $fs-small;
  line-height: 1.5;
  &_promo {
    color: $darkPink;
    font-size: 0.7em;
    text-decoration: line-through;
  }
}

.order__desctiption {
  text-transform: uppercase;
  font-size: $fs-micro;
  font-weight: 700;
  line-height: 1.2;
}

.order__desctiption_promo {
  color: $darkPink;
}

.order__options {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order__amount {
  font-size: $fs-small;
  line-height: 1.2;
}

.order__amount_count {
  margin-left: 0.3em;
  padding: 0.1em 0.4em;
  background-color: $white;
  border: 1px solid $lightGrey;
  font-size: $fs-small;
  line-height: 1.2;
}

.order__button {
  cursor: pointer;
}
