// single order

.order {
  display: flex;
  flex-direction: row;
  height: 100%;
  padding: 1em 0;
}

.order__wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  padding: 0 0.7em;
}

.order__price {
  font-size: 1em;
  &_promo {
    color: $darkPink;
    font-size: 0.7em;
    text-decoration: line-through;
  }
}

.order__desctiption {
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 700;
}

.order__desctiption_promo {
  color: $darkPink;
}

.order__options {
  margin-top: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.order__amount {
  font-size: 1em;
}

.order__amount_count {
  border: 1px solid $lightGrey;
  background-color: $white;
  padding: 0.1em 0.4em;
  margin-left: 0.3em;
}

.order__button {
  cursor: pointer;
}
