// list of ordered items
.orderList {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  width: 22em;
  border: $greyBorder;
  box-shadow: $greyShadow;
  z-index: 1000;
}

// toggle class
.orderList__open {
  display: block !important;
}

.orderList__container {
  padding: 2em;
  background-color: $white;
  z-index: 1000;
}

// total items in bucket
.orderList__items {
  font-size: 1em;
}

// total amount to be paid
.orderList__totalDue {
  font-size: 1em;
}

.orderList__button {
  width: 100px;
  margin: 0 auto;
  padding: 1em 3em;
  background: $darkPink;
  color: $white;
  border-radius: 5%;
  transition: 1s transform;
  white-space: nowrap;
  cursor: pointer;
  &:hover {
    transform: perspective(1px) translateZ(0);
  }
}
