// list of ordered items
.orderList {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
  border: orange 2px solid;
  width: 22em;
  border: 2px solid #f7f7f7;
  box-shadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);
}

// toggle class
.orderList__open {
  display: block !important;
}

.orderList__container {
  padding: 2em;
  background-color: white;
  z-index: 1000;
}

// total items in bucket
.orderList__items {
  font-size: 1em;
}

// total amount to be paid
.orderList__totalDue {
  font-size: 1em;
}

.orderList__button {
  width: 100px;
  margin: 0 auto;
  padding: 1em 3em;
  background: red;
  color: white;
  border-radius: 5%;
  transition: 1s background-color;
  cursor: pointer;
}

.orderList__button:hover {
  background-color: yellow;
}
