.search {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  outline: none;
}

.search__input {
  border: none;
  border-bottom: 1px solid black;
  width: 500px;
  background: url(images/search.png) no-repeat right center;
  background-size: 5%;
  padding: 10px;
  outline: none;
}
.search__input:active,
.search__input:focus {
  outline: none;
}
