.top {
  border-bottom: $line;
}

.top__wrapper {
  display: flex;
  height: 2.3em;
  align-items: center;
}

.top__link {
  padding: 0 1em;
  height: 100%;
  color: $black;
  text-decoration: none;
  font-size: 0.7em;
  display: flex;
  align-items: center;
}

.top__text {
  line-height: 1.334;
  font-size: $fs-milli;
}

.top__svg {
  padding-right: 0.4em;
  transform: translateY(1px);
}

.top__link:hover .top__svg {
  transform-origin: center;
  transform: scale(1.1);
}

.top__login,
.top__signup {
  border-right: $line;
}

.top__login {
  border-left: $line;
  margin-left: auto;
}

@media screen and (max-width: $extraSmall) {
  .top__text {
    display: none;
  }
  .top__svg {
    padding: 0 0.3em;
  }
}
