.header-nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1240px;
  margin: 3em auto;
}

.header-nav__list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.item {
  position: relative;
}

.has-submenu .submenu {
  display: none;
  padding: 0;
  margin: 0;
  left: 0;
  top: 15px;
  float: none;
  width: 150px;
  list-style: none;
  position: absolute;
  border: 2px solid #f7f7f7;
  -webkit-box-shadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);
  box-shadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);
}

.has-submenu:hover .submenu {
  display: inline-block;
}

.has-submenu:hover .submenu .subitem {
  width: 130px;
  position: relative;
  margin-left: 20px;
  padding: 10px 10px;
  transform: translateX(-20px);
  color: black;
}

.submenu__link {
  color: black;
  text-decoration: none;
}

.subitem:hover {
  background-color: #f7f7f7;
  margin-right: 20px;
}

.subitem:first-child {
  margin-top: 20px;
}

.subitem:last-child {
  margin-bottom: 20px;
}

// 2nd menu

.has-submenu2 .submenu2 {
  display: none;
  position: absolute;
  padding: 0;
  margin: 0;
  left: 150px;
  top: -2px;
  float: none;
  width: 100px;
  list-style: none;
  background-color: yellow;
}

.has-submenu2:hover .submenu2 {
  display: inline-block;
}

// main menu links

.header-nav__link {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 1s;
}

.header-nav__link:hover {
  color: $pink;
}
