.top {
  border-bottom: $line;
}
.top__container {
  height: 30px;
  max-width: 1240px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__wrapper {
  display: flex;
  height: 100%;
}

.top__phone,
.top__mail {
  padding-right: 1em;
}

.top__login,
.top__signup {
  border-right: $line;
  padding: 0 1em;
}

.top__login {
  border-left: $line;
}

.top__phone,
.top__mail,
.top__login,
.top__signup {
  display: flex;
  align-items: center;
}

.top__icon {
  padding-right: 0.4em;
  transform: translateY(1px);
}

.top__text {
  font-size: 0.7em;
}
