// colors

$colorBlack: #000000;
$lightGrey: #d7d7d7;
$darkGrey: #595959; // used for border line
$pink: rgb(236, 199, 208);

// lines

$line: 1px solid $lightGrey; // border line

// borders

$greyBorder: 2px solid #f7f7f7;

// shadows

$greyShadow: -2px -2px 27px -15px rgba(0, 0, 0, 0.35);

// breakpoints
