// colors

$colorBlack: #000000;
$lightGrey: #d7d7d7;
$darkGrey: #595959; // used for border line
$pink: rgb(236, 199, 208);

// lines

$line: 1px solid $lightGrey; // border line

// shadows

// breakpoints
