// colors

$colorRed: #ecc7d0;
$colorBlack: #000000;
$lightGrey: #d7d7d7;
$darkGrey: #595959;

// dimensions
// 1240 px - max width of the website

// breakpoints

// fonts

$line: 1px solid $lightGrey;
